{% extends '../layout.html' %}
{% load bootstrap4 i18n %}
{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Statuses' %}</h1>
    <a class="nav-link" href="/statuses/create/">{% translate 'Create status' %}</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>{% translate 'Status Name' %}</th>
          <th>{% translate 'Created at' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for status in status_list %}
        <tr>
          <td>{{ status.id }}</td>
          <td>{{ status.name }}</td>
          <td>{{ status.created_at }}</td>
          <td>
            <a href="{% url 'status_update' pk=status.id %}">{% translate 'Edit' %}</a>
            <br>
            <a href="{% url 'status_delete' pk=status.id %}">{% translate 'Delete' %}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}
