{% load bootstrap4 i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" href="/">{% translate title %}</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/">{% translate users %}</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/statuses/">{% translate statuses %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{% translate tags %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{% translate tasks %}</a>
      </li>
      {% endif %}
    </ul>

    <ul class="navbar-nav">
      {% if not request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/login/">{% translate log_in %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/create/">{% translate registration %}</a>
      </li>
      {% else %}
      <li class="nav-item">
          <span class="navbar-text">{% translate 'user' %}: <strong>{{ request.user.username }}</strong></span>
      </li>
      <li class="nav-item">
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="nav-link btn btn-link">{% translate log_out %}</button>
        </form>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

{% if messages  %}
  <div class="container wrapper flex-grow-1">
  {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
        {{ message }}
      </div>
  {% endfor %}
</div>
{% endif %}
