<!DOCTYPE html>
{% load i18n %}
<html>
{% include "head.html" %}
<body class="d-flex flex-column min-vh-100">
{% include "navigation.html" %}

  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate users %}</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>{% translate column_name %}</th>
          <th>{% translate column_fname %}</th>
          <th>{% translate column_created %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>{{ item.ID }}</td>
          <td>dan</td>
          <td>Dan Dan</td>
          <td>07.06.2023 11:28</td>
          <td>
            <a href="/users/1/update/">{% translate row_edit %}</a>
            <br>
            <a href="/users/1/delete/">{% translate row_delete %}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% include "footer.html" %}
</body>
</html>
