{% extends '../layout.html' %}
{% load bootstrap4 i18n %}
{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">Изменение пользователя</h1>
    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        {% translate form.first_name.label %}
        {{ form.first_name }}
        <small class="form-text text-muted">Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.
        </small>
      </div>
      <div class="form-group">
        {% translate form.last_name.label %}
        {{ form.last_name }}
      </div>
      <div class="form-group">
        {% translate form.username.label %}
        {{ form.username }}
      </div>
      <div class="form-group">
        {% translate form.password.label %}
        {{ form.password }}
        <small class="form-text text-muted">
          <ul>
            <li>Ваш пароль должен содержать как минимум 3 символа.</li>
          </ul>
        </small>
      </div>
      <div class="form-group">
        {% translate form.password_confirmation.label %}
        {{ form.password_confirmation }}
        <small class="form-text text-muted">Для подтверждения введите, пожалуйста, пароль ещё раз.</small>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Изменить">
      </div>
    </form>
  </div>
{% endblock content %}
