{% extends '../layout.html' %}
{% load bootstrap4 i18n %}
{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate tasks %}</h1>

    <a class="nav-link" href="/tasks/create/">Создать задачу</a>

<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      <div class="form-group">
        {% translate filter.form.status.label %}
        <div class="ml-2 mr-3">
          {{ filter.form.status }}
        </div>
      </div>

      <div class="form-group">
        {% translate filter.form.performer.label %}
        <div class="mr-3 ml-2">
            {{ filter.form.performer }}
        </div>
      </div>

      <div class="form-group">
        {% translate filter.form.labels.label %}
        <div class="mr-3 ml-2">
             {{ filter.form.labels }}
        </div>
      </div>

      <div class="form-group">
          {{ filter.form.author.label }}
        <div class="mr-3 ml-2">
          {{ filter.form.author }}
        </div>
      </div>
      <div class="form-group">
        <input class="btn btn-primary text-right" type="submit" value="{% translate 'Show' %}">
      </div>
  </div>
</div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>{% translate column_name %}</th>
          <th>{% translate column_status %}</th>
          <th>{% translate column_author %}</th>
          <th>{% translate column_performer %}</th>
          <th>{% translate column_created %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in filter.qs %}
        <tr>
          <td>{{ task.id }}</td>
          <td><a href="{% url 'task_view' pk=task.id %}">{{ task.name }}</a></td>
          <td>{{ task.status }}</td>
          <td>{{ task.author }}</td>
          <td>{{ task.performer }}</td>
          <td>{{ task.created_at }}</td>
          <td>
            <a href="{% url 'task_update' pk=task.id %}">{% translate row_edit %}</a>
            <br>
            <a href="{% url 'task_delete' pk=task.id %}">{% translate row_delete %}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}

