{% extends '../layout.html' %}
{% load bootstrap4 i18n %}
{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate "Update task" %}</h1>
    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        {% translate form.name.label %}
        {{ form.name }}
      </div>
        {% for error in form.name.errors %}
            <p class="alert alert-danger py-0 pl-2"><small>{{ error }}</small></p>
        {% endfor %}


      <div class="form-group">
        {% translate form.body.label %}
        {{ form.body }}
      </div>
        {% for error in form.body.errors %}
            <p class="alert alert-danger py-0 pl-2"><small>{{ error }}</small></p>
        {% endfor %}

      <div class="form-group">
        {% translate form.status.label %}
        {{ form.status }}
      </div>
        {% for error in form.status.errors %}
            <p class="alert alert-danger py-0 pl-2"><small>{{ error }}</small></p>
        {% endfor %}

      <div class="form-group">
        {% translate form.performer.label %}
        {{ form.performer }}
      </div>
        {% for error in form.performer.errors %}
            <p class="alert alert-danger py-0 pl-2"><small>{{ error }}</small></p>
        {% endfor %}

      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{% translate 'Update' %}">
      </div>
    </form>
  </div>
{% endblock content %}
